<main>
  <div class="top-bar">
    <button
      mat-flat-button
      color="primary"
    >
      Add Event
    </button>
  </div>

  <div class="scheduler">
    <div class="title-bar">
      Schedule
    </div>

    <div class="calender">
      <div style="position: relative;">
        <div class="events-container">
          <app-event
            *ngFor="let event of events$ | async"
            [event]="event"
          ></app-event>
        </div>

        <table mat-table [dataSource]="rowData$" class="mat-elevation-z8">

          <ng-container
            *ngFor="let column of columns$ | async"
            [matColumnDef]="column"
          >
            <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
            <td
              mat-cell
              *matCellDef="let row"
              [ngStyle]="{ width: columnWidth$ | async }"
            >
              {{ row.data[column] }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns$ | async"></tr>
          <tr mat-row *matRowDef="let row; columns: columns$ | async;"></tr>
        </table>
      </div>
    </div>
  </div>
</main>
