td, th {
  text-align: center !important;
  padding: 0 !important;
}

table {
  width: 100%;
}

.scheduler {
  padding: 20px;
  overflow: auto;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-bar {
  padding: 10px;
  display: flex;
  justify-content: end;
  padding-right: 20px;
}
